@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');
// 300, 500, 700

// Colors
$white: #fafafa;
$pink: #f1356d;



* {
  font-family: 'Quicksand', serif;
  font-weight: 700;
}

body {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  p {
    color: black;
  }
}

button {
  width: 140px;
  height: 35px;
  font-size: 18px;
  background: $white;
  border-radius: 7px;
  border: 0px;
  box-shadow: 0px 0px 14px 7px rgba(0,0,0,0.05);
  border: 1px solid rgb(245, 245, 245);
  transition: border 200ms ease-in;
  &:hover {
    border: 1px solid $pink;
  }
}

.App {
  display: flex;
  flex-direction: column;
}

/* 404 NotFound */
.content {
  display: flex;
  justify-content: center;
  min-height: 40vh;
  .not-found {
    font-size: 30px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    h2 {
      margin-bottom: 0px;
      margin-left: 120px;
      color: $pink;
    }
    a {
      color: $white;
      background: $pink;
      padding: 15px 0 15px 15px;
      border-radius: 15px;
    }
  }
}

/* navbar */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 17vw;
  border-bottom: 1px solid rgb(231, 231, 231);
  padding: 0 30px 0 30px;
}
.navbar h1 {
  font-weight: 700;
  font-size: 50px;
  color: $pink;
}

.links {
  a {
    margin: 50px 50px 50px 50px;
    font-size: 35px;
    font-weight: 500;
    text-decoration: none;
    transition: color 200ms;
    color: black;
    &:hover {
      color: $pink;
    }
  }
}


/* blog-preview list and home*/
.home {
  font-size: 30px;
}

.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid $white;
}

.blog-preview:hover {
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.blog-preview h2 {
  font-size: 30px;
  color: $pink;
  margin-bottom: 8px;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  border-radius: 7px;
}

.create button {
  background: $pink;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  &:hover {
    box-shadow:  0px 0px 24px -10px $pink;
  }
}

/* blog details page */
.blog-details {
  margin-left: 10vw;
  margin-right: 20vw;
}

.blog-details h2 {
  font-size: 30px;
  color: $pink;
  margin-bottom: 10px;
}

.blog-details p {
  font-size: 20px;
}

.blog-details div {
  margin: 20px 0;
  line-height: 25px;
}

.blog-details button {
  background: $pink;
  color: $white;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}